* {
  margin: 0;  /* 마진 리셋 */
  padding: 0;  /* 패딩 리셋 */
  box-sizing: border-box;  /* 박스 영역은 테두리까지 */
  font-family: 'Inder';
  font-style: normal;
}

a {
  text-decoration: none;  /* 텍스트 링크 없애기 */
  color: inherit; /* 링크의 색상 제거 */
}

ul {
  list-style: none;
}

/******************************/
/* 헤더 영역 - 로고와 내비게이션 */
/*****************************/

header {

}

/* 로고 */
#SCWeb {
  float: left;
}

#SCWeb h1 {

}

/* 내비게이션 */
nav {
  
}

#menu li {
  float: left;
}

/******************************/
/* 메인 영역 - 배너와 about us */
/****************************/

/* 배너 */
#banner {
  float: none;
}

#banner img {
  width: 100%;
}

/* contents */
#contents {
  width: 1100px;
  margin: 100px auto;
}

/* about us */
#aboutUs {
  text-align: center;
}

#aboutUs h1 {
  line-height: 50px;
  margin: 45px auto;

  font-weight: 600;
  font-size: 40px;
}

#aboutUs p {
  font-weight: 400;
  font-size: 24px;
  line-height: 180%;
}

#menu_about {
  display: flex;
  justify-content: center;
}

#menu_about div {
  float: left;
  padding: 10px 150px;
  margin: 60px 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
}

/* 메뉴 선택 클래스 */
.click {
  background-color: #F0F0F0;
  border: none;
}

.unclick {
  background-color: white;
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
}

/* sub contents */
#aMenu {
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
}

#aMenu li{
  float: left;
}

/* sns 로고 삽입 */
#a3 ul {
  display: flex;
  justify-content: space-around;
}

#kakao {
  background: url(../image/kakao.png) no-repeat;
  background-position-y: center;
  background-size: 40px;
  padding: 0px 50px;
}

#instar {
  background: url(../image/instargram.jfif) no-repeat;
  background-position-y: center;
  background-size: 40px;
  padding: 0px 50px;
}

#every {
  background: url(../image/everytime.jfif) no-repeat;
  background-position-y: center;
  background-size: 50px;
  padding: 0px 50px;
}