* {
  margin: 0;  /* 마진 리셋 */
  padding: 0;  /* 패딩 리셋 */
  box-sizing: border-box;  /* 박스 영역은 테두리까지 */
  font-family: 'Inder';
}

a {
  text-decoration: none;  /* 텍스트 링크 없애기 */
  color: inherit; /* 링크의 색상 제거 */
}

ul {
  list-style: none;
}

/******************************/
/* 헤더 영역 - 로고와 내비게이션 */
/*****************************/

/******************************/
/*         메인 영역          */
/****************************/

#main {
  width: 1200px;
  margin: 0 auto;
}

#main h1 {
  display: inline-block;
  margin: 10px;

  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0.05em;

  color: #000000;
}

label {
  display: inline-block;
  float: left;
  width: 15%;
  height: 42px;
  margin: 15px;

  font-weight: 700;
  font-size: 20px;
  line-height: 42px;
  text-align: right;
}

input {
  width: 70%;
  height: 45px;
  margin: 15px;
}

textarea {
  width: 70%;
  height: 450px;
  margin: 15px;
}

button {
  width: 50px;
  height: 25px;
  margin-left: 15px;
}