@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Imprima&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
}
.nav-container {
  list-style: none;
  display: flex;
}
.nav-item {
  padding: 15px;
  cursor: pointer;
}
.nav-item a {
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.event-container {
  width: 1290px;
  display: flex;
  list-style: none;
  margin-top: 156px;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-end;
}
.event-item a {
  text-align: center;
  text-decoration: none;
  color: #acacac;
}
.button {
  display: flex;
  justify-content: flex-end;
}
.finish {
  padding: 15px;
}
.ongoing {
  padding: 15px;
}
.scheduled {
  padding: 15px;
}
.search-container {
  width: 1290px;
  padding: 12px;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  margin: 0 auto;
}
#search_box {
  box-sizing: border-box;
  width: 220px;
  height: 32px;

  border: 1px solid #000000;
}
#enter_button {
  width: 62px;
  height: 32px;
}
.flex-container {
  width: 1290px;
  height: 678px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-around;
  margin: 0 auto;
}
.flex-item {
  background: #d9d9d9;
  width: 292.5px;
  height: 292.5px;
}
.title {
  position: relative;
  width: 218px;
  height: 62px;
  left: -130px;
  top: -12px;

  font-family: 'IM FELL Double Pica SC';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 63px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.05em;
}
.add {
  position: relative;
  width: 24px;
  height: 25px;
  left: -130px;
  top: -2px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  display: flex;
  align-items: center;
  text-align: center;
}
