.tophead{
  width: 100%;
  height: 10%;
  margin-left: 20px;
  display: flex;
}
.logo{
  width: auto;
  height: auto;
  margin-left: 15px;
  font-size: xx-large;
  font-weight: 500;
}
.nav1{
  width: 100%;
  height: 10%;
  padding: 10px;
}
ul{
  list-style: none;
}
li{
  margin: 15px;
  float: left;
}
.menu{
  margin-left: 30px;
  font-size: larger;
  font-weight: 500;
}
.menu2{
  position: absolute;
  left: 85%;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 500;
}
.menu3{
  position: absolute;
  left: 92%;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 500;
}
.link1{
  text-decoration-line: none;
  color: black;
}
.link2{
  text-decoration-line: none;
  color: #737373;
}
a:hover{
  color: #FF0000;
}
.comu{
  position: absolute;
  left: 36.5%;
  top: 13%;
  opacity: 0;
}
.mainn:hover .comu{
  opacity: 1;
}